.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signup-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 20px;
}

input {
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}


/* signup.css */
.login-container {
  width: 300px;
  margin: auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
}

.login-form button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #45a049;
}

.login-form p {
  margin-top: 15px;
}
